<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Cars</h2>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-around">
      {{ range .Site.Pages }}
        {{ if and .IsPage .Params.IsCar }}
          <div class="shuffle-item mb-4 card" style="width: 32rem;">
            <div class="position-relative rounded hover-wrapper">
              <img src="{{ .Params.Image | absURL }}" alt="car-image" class="img-fluid rounded home-crop-image">
              <div class="hover-overlay">
                <div class="hover-content">
                  {{ with .Title }}<p class="project-title">{{ . }}</p> {{ end }}
                  <a class="btn btn-light btn-sm" href="{{ .Permalink }}">View Car</a>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
