<div class="container p-0">
  <p class="h3 sponsor-category pb-3">{{ .category }}</p>
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-around">
      {{ range .children }}
      <div class="card pb-5 sponsor-card" style="width: 20rem;">
        <a href="{{ .URL }}" class="sponsor-item">
          <img class="card-img-top" src="{{ .logo | absURL }}" style="object-fit: scale-down;">
          <div class="card-body">
            <h5 class="card-title">{{ .name }}</h5>
            {{ if .desc }}
            <p class="card-text">{{ .desc }}</p>
            {{ end }}
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
